@page "/todo"
@inject HttpClient Http
@using BlazorAppWeb

<div class="row">
  <div class="col">
    <button class="btn btn-primary" @onclick="AddList">Add list</button>

    <div class="mt-3">
      @foreach (var list in _lists)
      {
        <List OnRemoveClick="@(_ => _lists.Remove(list))" ToDoList="list"></List>
      }
    </div>
  </div>
</div>

@code {
  private List<ToDoList> _lists = new List<ToDoList>();

  private async Task AddList()
  {
    var result = await Http.PostAsJsonAsync("https://localhost:44389/api/lists", new StringContent(string.Empty));
    var list = await result.Content.ReadFromJsonAsync<ToDoList>();
    list.Title = string.Empty;
    list.Items = new List<ToDoItem>();
    _lists.Add(list);
  }

  protected override async Task OnInitializedAsync()
  {
    var result = await Http.GetFromJsonAsync<ToDoList[]>("https://localhost:44389/api/lists");
    var lists = result.ToList();
    foreach (var list in lists)
    {
      list.Items = list.Items.OrderBy(i => i.Position).ToList();
    }
    _lists = lists;
  }
}